.places {
    /* width: 100%; */
    display: flex;
    margin-top: 20px;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    justify-content: center;

}
.places h1 {
    font-size: 30px;
    text-align: left;
    padding: 20px;
    width: 100%;    
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}